<h1>Add Todo</h1>
<div ng-controller="MainCtrl">
<form ng-submit="addCheck()">
  <input type="text" ng-model="newCheck.title"><br/>


  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <input type='text' datepicker ng-model="newCheck.date" class="form-control" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <input type='text' timepicker ng-model="newCheck.time" class="form-control" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    {{newCheck.time}}----{{newCheck.date}}
</div>


  <input type="submit">
  </form>

<h3>Your TODO's</h3>
<ul ng-repeat="(key,value) in checks | groupBy: 'date'">
{{key}}
<li ng-repeat="check in value">
{{check.title}}--{{check.time}}
<button type="button" ng-click="deleteCheck($index)">Done</button>
</li>
</ul>
</div>
