<h1>Add Todo</h1>
<div ng-controller="MainCtrl">
<form ng-submit="addCheck()">
  <input type="text" ng-model="newCheck.title">
  <input type="date" ng-model="newCheck.date" placeholder="<%= Time.now.strftime("%m/%d/%Y") %>">
  <input type="time" ng-model="newCheck.time">
  <input type="submit">
  </form>

<h3>Your TODO's</h3>
<ul ng-repeat="(key,value) in checks | groupBy: 'date'">
{{key}}
<li ng-repeat="check in value">
{{check.title}}--{{check.time}}
<button type="button" ng-click="deleteCheck($index)">Done</button>
</li>
</ul>
  </div>
