<%if user_signed_in?%>
<div  ng-controller="MainCtrl">
  <% if current_user.checks.count == 0 %>
    <h5 class="alert alert-info direction"> Click below to add your Todo ! </h5>
    <div class="message">
      <div class="jumbotron">
        <h3> Your Todo list is empty </h3>
        </div>
        </div>
  <%else%>
<div class="display">
  <ul ng-repeat="(key,value) in checks | groupBy: 'date'">
    <div class="outer">
      <p class="date">{{key}}</p>
      <div class="border">
     <li ng-repeat="check in value">
       <div class="inner">

         <div class="title" ng-class="{'done':check.done}" >
           {{check.title}}
         </div>

         <div class="time">
           <div class="value">
         {{check.time}}
              </div>

        <div class="round">
          <div class="roundedOne">
            <input type="checkbox" value="None" id="{{key}}{{$index}}" name="check" ng-click="updateCheck(check.id)" ng-checked="check.done" />
            <label for="{{key}}{{$index}}"></label>
         </div>
         </div>

         </div>

       </div>
     </li>
     </div>
     </div>
  </ul>
</div>
<%end%>


<div class="position" ng-model="foo">
<button id="demo-menu-top-right"
  class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="foo = !foo">
  <i class="material-icons">add</i>
</button>
</div>

<div ng-show="foo" class="form">
    <form ng-submit="addCheck()" data-mdl-for="demo-menu-top-right" name="frm">
      <div>
        <label>Todo</label>
        <input type="text" ng-model="newCheck.title" required>
      </div>


       <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <input type='text' datepicker ng-model="newCheck.date" class="form-control" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
       </div>

        <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <input type='text' timepicker ng-model="newCheck.time" class="form-control" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
        </div>

      <div>
        <input type="submit" value=" Add Todo" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-disabled="frm.$invalid" >
      </div>
    </form>
 </div>

</div>

<%else%>
  <h3> Login to Create your Todo List </h3>
<%end%>
